<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Employee Leave Portal</span>
  <span class="spacer"></span>
  <span class="user-info">{{ user.name }} ({{ user.role }})</span>
  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      @for (item of menu; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>